{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.0-alpha1"}
        org.clojure/core.cache {:mvn/version "1.0.217"}
        yogthos/config {:mvn/version "1.1.8"}
        com.rpl/specter {:mvn/version "1.1.3"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.5"}
        org.suskalo/discljord {:mvn/version "1.3.0-RC2"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        cheshire/cheshire {:mvn/version "5.10.1"}
        fmnoise/flow {:mvn/version "4.1.0"}
        hato/hato {:mvn/version "0.8.2"}
        integrant/integrant {:mvn/version "0.8.0"}
        orchestra/orchestra {:mvn/version "2021.01.01-1"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
        org.clojure/alpha.spec {:git/url "https://github.com/clojure/spec-alpha2.git"
                                :sha "c087ded910b3532a938b37e853df79fc3b9c48c1"}}

 :jvm-opts ["-Dconfig=config.edn"]

 :aliases {:build {:extra-paths ["build"]
                   :deps {io.github.seancorfield/build-clj
                          {:git/tag "v0.3.1" :git/sha "996ddfa"}}
                   :ns-default build}}}
