{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.0-alpha3"}
        io.aviso/pretty {:mvn/version "1.1.1"}
        org.clojure/core.cache {:mvn/version "1.0.225"}
        yogthos/config {:mvn/version "1.1.9"}
        com.rpl/specter {:mvn/version "1.1.3"}
        org.suskalo/discljord {:git/url "https://github.com/kiranshila/discljord"
                               :git/sha "b6e29d4b8f3e77462016a6b60af01357e1415345"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        cheshire/cheshire {:mvn/version "5.10.1"}
        fmnoise/flow {:mvn/version "4.1.0"}
        hato/hato {:mvn/version "0.8.2"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}}

 :jvm-opts ["-Dconfig=config.edn"]

 :aliases {:build {:extra-paths ["build"]
                   :deps {io.github.seancorfield/build-clj
                          {:git/tag "v0.6.5" :git/sha "972031a"}}
                   :ns-default build}}}
